In [32]:
import numpy as np
import pandas as pd

In [33]:
df = pd.read_csv('dataset/moviereviews.tsv', sep='\t')

In [34]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [35]:
len(df)

2000

In [36]:
df['label'].value_counts()

pos    1000
neg    1000
Name: label, dtype: int64

In [37]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [38]:
df = df.dropna() # Remove NaN or none review

In [39]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [40]:
len(df)

1965

In [41]:
def detect_blanks(df):
    contains_blank = list()
    for index, label, review in df.itertuples():
        if type(review)==str:
            if review.isspace():
                contains_blank.append(index)
    print(f"This df contains {len(contains_blank)} blanks")
    return contains_blank

In [42]:
contain_blanks = detect_blanks(df)

This df contains 27 blanks

In [43]:
contain_blanks[:5]

[57, 71, 147, 151, 283]

In [44]:
df.iloc[57]

label     neg
review
Name: 57, dtype: object

In [45]:
df = df.drop(contain_blanks)

In [46]:
len(df)

1938

In [47]:
detect_blanks(df)

This df contains 0 blanks

[]

In [48]:
df['label'].value_counts()

pos    969
neg    969
Name: label, dtype: int64